
<div class="content-container">

   <div class="createContent">

<h1>Update Movie Details</h1>


<form action="/movies/edit/{{id}}" method="POST">
   <label> Title: <br>
      <input type="text" name="title" value="{{this.title}}">
   </label>

   <br><br>

   <label> Director: <br>
      <input type="text" name="director" value="{{this.director}}">
   </label>

   <br><br>

   <label> Runtime: <br>
      <input type="text" name="runtime" value="{{this.runtime}}">
   </label>

   <br><br>

   <label> Price: <br>
      <input type="text" name="price" value="{{this.price}}">
   </label>

   <br><br>

   <label> Genre: <br>
      <input type="text" name="genre" value="{{this.genre}}">
   </label>

   <br><br>

   <label> Rating: <br>
      <input type="text" name="rating" value="{{this.rating}}">
   </label>

   <br><br>
   
   <label> Inventory: <br>
      <input type="text" name="inventory" value="{{this.inventory}}">
   </label>

   <br><br>


   <button>Update</button>
</form>

   </div>
</div>
